.ant-layout-header, .ant-layout-sider{
    background: #FAFAFA;
}
.ant-layout-header{
    margin-bottom: 5px;
}
.ant-layout-sider .profile {
    padding: 10px;
}
.site-statistic-demo-card {
    background: #ececec;
    padding: 30px;
}