.ant-layout-content, .ant-layout-sider{
    margin: 10px;
}
.ant-layout-sider{
    background: #FAFAFA;
}
.ant-layout-sider .profile, .site-statistic-demo-card {
    padding: 10px;
}
.site-statistic-demo-card {
    background: #ececec;
}
.ant-alert {
    margin: 10px 0;
}